<div class="col-md-6 offset-md-3">
    <br/>
    <h2 class="center-text"> Update Employee </h2>
    <form (ngSubmit) = "onSubmit()">
        <div class="form-group">
            <label> Character Name</label>
            <input type="text" class ="form-control" id = "char_name"
            [(ngModel)] = "tempCharacter.char_name" name = "char_name">
            <!--<div *ngIf="(tempCharacter.char_name === '')">
                <p style="color: red; font-size: small;">Required</p>
            </div>-->
        </div>
    
        <div class="form-group">
            <label> Race</label>
            <input type="text" class ="form-control" id = "race"
            [(ngModel)] = "tempCharacter.race" name = "race">
        </div>
    
        <div class="form-group">
            <label> Class</label>
            <input type="text" class ="form-control" id = "classtype"
            [(ngModel)] = "tempCharacter.classtype" name = "classtype">
        </div>

        <div class="form-group">
            <label> Description</label>
            <input type="text" class ="form-control" id = "description"
            [(ngModel)] = "tempCharacter.description" name = "description">
        </div>

        <div class="form-group">
            <label> Equipment</label>
            <input type="text" class ="form-control" id = "equipment"
            [(ngModel)] = "tempCharacter.equipment" name = "equipment">
        </div>
        
        <br/>

        <button class = "btn btn-success" type = "submit">Submit</button>
        <p style="color: red" *ngIf="(missingInputs)"> All fields must be filled in </p>
    
    </form>
</div> 